@import "./colors.scss";

* {
      background-color: $bg-primary;
      color:white;

      a {
            text-decoration: none;
            color: gray;
            cursor: pointer;

            &:hover {
                  color:thistle;
            }
      }
}